 
<!-- To set focuses -->
<script>
    document.addEventListener("keypress", function(event) {
      // Check if the pressed key is Enter (key code 13)
      if (event.key === "Enter") {
        // Prevent the default form submission behavior
        event.preventDefault();
 
        // Get the currently focused element
        const focusedElement = document.activeElement;
 
        // Find the next input field based on the tabindex
        const nextTabIndex = parseInt(focusedElement.tabIndex) + 1;
        const nextInput = document.querySelector(`[tabindex="${nextTabIndex}"]`);
 
        // If there is a next input field, focus on it
        if (nextInput) {
          nextInput.focus();
        }
      }
    });
  </script>
 <!-- To set focuses -->



<div class="container" style="margin-top: 5%">
<form [formGroup]="AddEmpform">

    <!--Employee's Firstname starts -->
    <div class="row">
        <div class="mb-3">
            <label>First name</label>
            <input type="text" formControlName="empfname" class="form-control" tabindex="1" autofocus/>
            <div *ngIf="this.AddEmpform.get('empfname')?.touched">
                <small *ngIf="this.AddEmpform.get('empfname')?.errors?.['required']" class="text-danger">Please
                    add
                    first name </small>
                <small *ngIf="this.AddEmpform.get('empfname')?.errors?.['minlength']" class="text-danger">Please
                    add
                    valid first name </small>
                <small *ngIf="this.AddEmpform.get('empfname')?.errors?.['maxlength']" class="text-danger">Please
                    add
                    valid first name </small>
            </div>
        </div>
        <!--Employees Firstname ends -->


        <!-- Lastname -->
        <div class=" col mb-3">
            <label>Last name</label>
            <input type="text" formControlName="emplname" class="form-control" tabindex="2"/>
            <div *ngIf="this.AddEmpform.get('emplname')?.touched">
                <small *ngIf="this.AddEmpform.get('emplname')?.errors?.['required']" class="text-danger">Please
                    add
                    last name </small>
                <small *ngIf="this.AddEmpform.get('emplname')?.errors?.['minlength']" class="text-danger">Please
                    add
                    valid last name </small>
                <small *ngIf="this.AddEmpform.get('emplname')?.errors?.['maxlength']" class="text-danger">Please
                    add
                    valid last name </small>
            </div>
        </div>
    </div>
    <!-- Lastname ends -->


    <!-- Employee salary starts -->
    <div class=" col mb-3">
        <label>Salary</label>
        <input type="text" formControlName="empsalary" class="form-control" tabindex="3"/>
        <div *ngIf="this.AddEmpform.get('empsalary')?.touched">
            <small *ngIf="this.AddEmpform.get('empsalary')?.errors?.['required']" class="text-danger">Please
                add
                last name </small>
        </div>
        <!-- Employee salary ends -->

     <!-- Email -->
     <div class="mb-3">
        <label>Email address</label>
        <input formControlName="empmail" type="email" class="form-control" tabindex="4"/>
        <div *ngIf="this.AddEmpform.get('empmail')?.touched">
           <small *ngIf="this.AddEmpform.get('empmail')?.errors?.['required']" class="text-danger">Please add
              email id</small>
           <small *ngIf="this.AddEmpform.get('empmail')?.errors?.['email']" class="text-danger">Please add
              valid
              email id</small>
        </div>
     </div>
     <!-- Email ends -->

     <button  class="btn btn-primary" (click)="addemployee()"> Add to list </button>&nbsp;&nbsp;
     <button  class="btn btn-primary" (click)="cancel()"> Cancel</button>

</div>