<div class="container" style="margin-top: 5%">

    <!-- List displays -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Salary</th>
                <th scope="col">Mail-id</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of userService.employee; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{emp.empfname}}</td>
                <td>{{emp.emplname}}</td>
                <td>{{emp.empsalary}}</td>
                <td>{{emp.empmail}}</td>
                <td><button (click)="editemployee(i)" class="btn btn-primary"> edit info </button>
                    &nbsp;
                    <button class="btn btn-primary" (click)="remove(i)"> Delete </button>

                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <button class="btn btn-primary" (click)="addemployee()">Add User</button>
    </div>

    <!-- List -->




    <!-- ------------------------------------------------ -->